@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

.f-sfpro {
  font-family: "SF Pro Display", sans-serif;
}
.f-bricolage {
  font-family: "Bricolage Grotesque", serif;
}

.fw-600{
    font-weight: 600;
}

.fw-200{
  font-weight: 200;
}

/* @media (min-width: 2000px) {
  html {
    font-size: 24px;
  }
}  */


@media (min-width: 770px) and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}